
/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
body{font-family: 'Poppins', sans-serif;}
body{
background-image: url(/assets/img/sfondo.png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
text-align: center;}

body{width: 450px;
    height: 500px;
    margin: 20px
    ;text-align: center;}

    h1{font-weight: 800
    ;font-size: 1.5em;
margin: 20px;
text-align: center;}

div{margin :20px}

p{margin: 0.5em ;}
h2{font-weight: bold;}
ul{margin: 1em;
list-style:disc;}
li{margin:1em}

.divbody{background-color: aqua ;
margin: 1em;
padding: 10px;
border: solid 1px black;
box-sizing: border-box
;}

/* HEADER */
.nostyleitem{list-style: none;}
#LogoID{

   padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;
width: 200px;
height: 100px;
text-align: center;
}



header    {background: rgb(0,160,198);
    background: linear-gradient(blue white);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    padding: 2em 1.5em;
border: solid 1px black ;}

/* MAIN */

#MainID
{box-sizing: border-box;
border: solid 1px black;
padding: 1em;
text-align: center;
background-color: antiquewhite;}

ol{list-style: decimal;}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
table{margin: 1.5em;

}
.tabella{border-bottom: solid 1px blue}
.trtitoli{background-color: aqua;
}
.tdtabella{border-top: solid 1px;}
.td3{background-color: lightgray;}
/* FORM */
form{margin: 2em;}

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
